<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
    <title>ReviewId Generator</title>
    <link rel="shortcut icon" type="image/x-icon" href="http://www.lvmama.com/favicon.ico"/>
</head>
<body>
<div align="center">
    <form id="uploadForm" method="post" action="/ReviewGen/picUpload/upload" style="align-self: center" enctype="multipart/form-data">
        <span style="font-size: 10px;color: red">author : alex.bao</span><br/><br/>
        <h1> Picture Upload Path Generate </h1><br/>
        <input type="file" name="multipartFile" id="fileId"/>
        <input type="submit" name="button" id="buttonId" value="上传"/>
    </form>
</div>
</body>
</html>
